<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Psychic Bear <sup><i>&#9082; r0.0.1</i></sup></a>
            <div class="nav-collapse">
              <ul class="nav pull-right">
                <% if user_signed_in? %>
                  <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                <% else %>
                  <li><%= link_to "Login", new_user_session_path %></li>
                  <li><%= link_to "Login with Google", user_omniauth_authorize_path(:google_oauth2) %></li>
                <% end %>
              </ul>
            </div>
        </div>
    </div>
</div>